# Environment files
.env
.env.*

# Python bytecode and cache
__pycache__/
*.py[cod]
*/__pycache__/

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Django static and media files
staticfiles/
media/
*.log

# Database files
*.sqlite3
*.db

# Django migration files (optional to ignore by team)
*/migrations/__pycache__/
# Uncomment below to ignore all migration files
# */migrations/*.py

# VS Code and IDE config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build and packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pip logs
pip-log.txt
pip-delete-this-directory.txt

# Testing & coverage
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
htmlcov/

# Translations
*.mo
*.pot

# Developer tools
.mr.developer.cfg
.project
.pydevproject
.ropeproject

# Documentation
docs/_build/

# System files
.DS_Store
Thumbs.db
